#requireResource("confluence.chat:chat-files")
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>	px
height	33.8px
<![endif]-->

#set($chatUser = $chatManager.getChatUser($remoteUser))
#set($pref = $chatUser.getPreferences())
#set($status = $pref.getChatStatus().toString())


#set($onlineOffline = "online")

#if($status == "xa")
#set($onlineOffline = "offline")
#end


<div id="chatbar" class="$onlineOffline">
    <div id="chatbar-status" class="$status">
        <fieldset class="parameters hidden">

        </fieldset>
        <div id="chatbar-buttons">
            <div id="chatbar-button-config">&nbsp;</div>
            <div id="chatbar-button-online">
                <div class="online">
                    Online Users (<span>$chatManager.getOnlineUsers().size()</span>)
                </div>
                <div class="offline">
                    You are offline
                </div>
            </div>

        </div>
        <div id="chatbar-online-users" class="chatbar-box">
            <div class="chatboxhead">
                <div class="chatboxtitle">Kontakte</div>
                <div class="chatboxoptions">
                    <a  href="#">X</a></div>
            </div>
            <div id="chatbar-online-users-list" class="chatbar-box-content">
                <div class="chat-user" >
                    <div>
                        <img src="/images/icons/profilepics/default.gif" />
                        <div class="chat-user-info">
                            <span>admin</span>
                            <!-- <div class="chat-user-status">&#8220;<span>status</span>&#8221;</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chatbar-config" class="chatbar-box">
            <div class="chatboxhead">
                <div class="chatboxtitle">Konfiguration</div>
                <div class="chatboxoptions">
                    <a  href="#">X</a></div>
            </div>
            <div  class="chatbar-box-content">
                <select name="status">
                    <option  value="chat" #if($status == "chat") selected="selected" #end >Online</option>
                    <option  value="away" #if($status == "away") selected="selected" #end >Away</option>
                    <option  value="dnd" #if($status == "dnd") selected="selected" #end >Do not disturb</option>
                    <option  value="xa" #if($status == "xa") selected="selected" #end>Offline</option>
                </select>
            </div>   
        </div>
    </div>
</div>