#if($action.hasChatAccess())
#requireResource("confluence.chat:chat-files")
#set($chatUser = $chatManager.getChatUser($remoteUser))
#set($pref = $chatUser.getPreferences())
#set($status = $chatUser.getStatus().toString())
#set($onlineOffline = "online")
#if($status == "xa")
#set($onlineOffline = "offline")
#end
<div id="chatbar" class="$onlineOffline">
    #if($chatManager.getChatConfiguration().getPlaySound())
    <audio id="chatsound" style="display: none;">
        <source src="$req.contextPath/download/resources/confluence.chat/button-9.m4a" type="audio/x-aac" />
        <source src="$req.contextPath/download/resources/confluence.chat/button-9.mp3" type="audio/mpeg" />
        <source src="$req.contextPath/download/resources/confluence.chat/button-9.ogg" type="audio/ogg" />
        <div class="no-audio"></div>
    </audio>
    #end
    <div id="chatbar-status" class="$status">
        <fieldset class="parameters hidden">
            <input type="hidden" name="chat-playSound" id="chat-playSound" value="$chatManager.getPlaySound()" />
            <input type="hidden" name="chat-version" id="chat-version" value="$chatManager.getVersion()" />
            <input type="hidden" name="chat-debugMode" id="chat-debugMode" value="$chatManager.getChatConfiguration().getDebugMode()" />
            <input type="hidden" name="chat-heartbeat" id="chat-heartbeat" value="$chatManager.getChatConfiguration().getHeartBeat()" />
            <input type="hidden" name="chat-hideInEditMode" id="chat-hideInEditMode" value="$chatManager.getChatConfiguration().getHideInEditMode()" />
            <input type="hidden" name="chat.icon.close" id="chat-icon.close" value="$i18n.getText('close.name')" />
            <input type="hidden" name="chat.icon.more" id="chat-icon.more" value="$i18n.getText('chat.icon.more')" />
            <input type="hidden" name="chat.icon.min" id="chat-icon.min" value="$i18n.getText('chat.icon.min')" />
            <input type="hidden" name="chat.icon.max" id="chat-icon.max" value="$i18n.getText('chat.icon.max')" />
            <input type="hidden" name="chat.box.more.history" id="chat-icon.history" value="$i18n.getText('chat.box.more.history')" />
            <input type="hidden" name="chat.bar.deactivated" id="chat-deactivated" value="$i18n.getText('chat.bar.deactivated')" />
        </fieldset>
        <div id="chatbar-buttons">
            <div id="chatbar-status-icon">&nbsp;</div>
            <div id="chatbar-button-online">
                #if($chatManager.getChatConfiguration().getPlaySound())
                <div title="$i18n.getText('chat.icon.sound')"  class="csound"></div>
                #end
                <div class="online">$i18n.getText('chat.bar.online',[$action.getOnlineUsers().size()])</div>
                <div class="offline">$i18n.getText('chat.bar.offline')</div>
            </div>
            <br style="clear: both; " />
        </div>
        <div class="chatbar-box">
            <div class="cb-head">
                <div class="cb-opt">
                    <a class="cb-users"  title="$i18n.getText('chat.bar.contacts')"  href="#"></a>
                    <a class="cb-config"  title="$i18n.getText('chat.icon.config')"  href="#"></a>
                    <a class="cb-close"  title="$i18n.getText('close.name')"  href="#">X</a>
                </div>
                <div class="cb-title cb-title-config">$i18n.getText('chat.bar.config')</div>
                <div class="cb-title cb-title-users">$i18n.getText('chat.bar.contacts')</div>
            </div>
            <div id="chatbar-online-users" class="chatbar-box-content">
                <div id="chatbar-online-users-list">
                    <div class="chat-user" >
                        <div>
                            <div class="chat-user-info">
                                <span class="is">admin</span>
                                <div class="chat-where"><a class="icon icon-page" href="#" ></a><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chatbar-config" class="chatbar-box-content chat-options">
                <select name="status">
                    <option  value="chat" #if($status == "chat") selected="selected" #end >$i18n.getText('chat.bar.config.online')</option>
                    <option  value="away" #if($status == "away") selected="selected" #end >$i18n.getText('chat.bar.config.away')</option>
                    <option  value="dnd" #if($status == "dnd") selected="selected" #end >$i18n.getText('chat.bar.config.dnd')</option>
                    <option  value="xa" #if($status == "xa") selected="selected" #end>$i18n.getText('chat.bar.config.offline')</option>
                </select>
                <br/>
                <a href="$req.contextPath/users/chat/history.action" class="aui-button">$i18n.getText('chat.history.title')</a>
            </div>
        </div>
    </div>
</div>
#end