<html>
    <head>
        #requireResource("confluence.chat:chat-files-admin")
        <title>Confluence Chat Configuration</title>
    </head>
    <body>
        <h1>Confluence Chat  Configuration</h1>
        <p>The following settings define who has access to the chat in the system.</p>
        <form action="updateconfiguration.action" method="post" class="aui" id="chat-configuration">
            <fieldset>
                <h2>Chat Access</h2>
                <div class="field-group">
                    <label for="chat-all-users-edit">
                        Allow all
                        <span class="form-icon icon-required"></span>
                    </label>
                    <div class="edit">
                        <input class="checkbox" type="checkbox" id="chat-all-users-edit" name="allowAll" title="Allow all signed-in users to access chat" #if ($action.getAllowAllUsers()) checked="checked" #end>
                               <div class="description">Allow all signed-in users to access chat. Should only be checked if this application is private and the entire user base is trusted.</div>
                    </div>
                    <div class="view">
                        <div id="chat-all-users-view" class="field-value">
                            #if ($action.getAllowAllUsers())
                            Yes
                            #else
                            No
                            #end
                        </div>
                    </div>
                </div>
                <div class="field-group" id="chat-access-groups">
                    <label for="chat-access-groups-edit">
                        Restrict to groups
                        <span class="form-icon icon-required"></span>
                    </label>
                    <div class="edit">
                        <textarea id="chat-access-groups-edit" name="groups" title="Access Groups" cols="50" rows="10" autocomplete="off">$action.getAccessGroupsLines()</textarea>
                        <div class="description">Groups allowed to access the chat, one per line. Only used if <em>Allow all</em> is unchecked.</div>
                    </div>
                    <div class="view">
                        <div id="chat-access-groups-view" class="field-value">$action.getAccessGroupsCSV()</div>
                    </div>
                </div>

                <h2>Chat Settings</h2>
                <div class="field-group">
                    <label for="chat-all-settings-edit">
                        Show browsing location
                        <span class="form-icon icon-required"></span>
                    </label>
                    <div class="edit">
                        <input class="checkbox" type="checkbox" id="chat-all-settings-edit" name="showWhereIam" title="Show the browsed page of the signed-in users " #if ($action.getShowWhereIam()) checked="checked" #end>
                               <div class="description">Show the browsed page of the signed-in users</div>
                    </div>
                    <div class="view">
                        <div id="chat-all-location-view" class="field-value">
                            #if ($action.getShowWhereIam())
                            Yes
                            #else
                            No
                            #end
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="buttons-container">
                <div class="buttons view">
                    <a id="chat-edit" class="view" href="#edit">Edit</a>
                </div>
                <div class="buttons edit">
                    <input id="chat-save" class="button submit" type="submit" value="Save">
                        <a href="viewconfiguration.action">Cancel</a>
                </div>
            </div>
        </form>
        </form>
    </body>
</html>