<html>
    <head>
        #requireResource("confluence.chat:chat-files-admin")
        <title>$i18n.getText('chat.config.tab.spaceimporter')</title>
        <meta name="help-path" content="confluence/chat/templates/help.vm"/>
        <content tag="selectedWebItem">confluence-chat-admin-importer</content>
    </head>
    <body>
        #parse ( "/template/includes/actionerrors.vm" )
        #parse ( "/template/includes/actionmessages.vm" )
        <form action="doconfiguremultiplespaces.action" method="post" class="aui" >
            #form_xsrfToken()
            <h2>$i18n.getText('chat.config.access.import')</h2>
            <fieldset>
                <div class="field-group">
                    <label for="chat-all-users-edit-tools">$i18n.getText('space.name')</label>
                    <select name="space" multiple="true" autocomplete="false" class="chat-config-tools-spaces">
                        #foreach ($space in $spaceManager.getAllSpaces())
                        #if(!$space.isPersonal())
                        <option value="$space.getKey()">$space.getName()</option>
                        #end
                        #end
                    </select>
                    <div class="description">$i18n.getText('chat.config.tools.spaces')</div>
                </div>
                <div class="field-group">
                    <label for="chat-all-users-edit-tools">$i18n.getText('permissions.PERSONALSPACE')</label>
                    <select name="space" multiple="true" autocomplete="false" class="chat-config-tools-spaces">
                        #foreach ($space in $spaceManager.getAllSpaces())
                        #if($space.isPersonal())
                        <option value="$space.getKey()">$space.getName()</option>
                        #end
                        #end
                    </select>
                    <div class="description">$i18n.getText('chat.config.tools.spaces')</div>
                </div>                        

                <div class="field-group">
                    <label for="chat-all-users-edit-tools">$i18n.getText('chat.config.access.all.title')</label>
                    <input class="checkbox" type="checkbox"  name="allowAll" title="$i18n.getText('chat.config.access.all.desc')" autocomplete="false">
                        <div class="description">$i18n.getText('chat.config.access.all.desc')</div>
                </div>
                <div class="field-group" id="chat-access-groups">
                    <label for="chat-access-groups-edit-tools">$i18n.getText('chat.config.access.restrict.title')</label>
                    <textarea id="chat-access-groups-edit-tools" name="groups" title="Access Groups" cols="50" rows="10" autocomplete="off"></textarea>
                    <div class="description">$i18n.getText('chat.config.access.restrict.desc')</div>
                </div>
                <h2>$i18n.getText('chat.config.access.import.settings')</h2>
                <div class="field-group">
                    <label >$i18n.getText('chat.config.import.settings.all.title')</label>
                    <input class="checkbox" type="checkbox"  name="overwriteAllowAll" title="$i18n.getText('chat.config.import.settings.all.desc')" autocomplete="false" checked="checked">
                        <div class="description">$i18n.getText('chat.config.import.settings.all.desc')</div>
                </div>
                <!--
                <div class="field-group">
                    <label>$i18n.getText('chat.config.import.settings.groups.title')</label>
                    <input class="checkbox" type="checkbox"  name="overwriteGroups" title="$i18n.getText('chat.config.import.settings.groups.desc')" autocomplete="false" checked="checked">
                        <div class="description">$i18n.getText('chat.config.import.settings.groups.desc')</div>
                </div>-->
                <div class="field-group">
                    <label>$i18n.getText('chat.config.import.settings.groups.append')</label>
                    <input class="checkbox" type="checkbox"  name="appendGroups" title="$i18n.getText('chat.config.import.settings.groups.append.desc')" autocomplete="false" checked="checked">
                        <div class="description">$i18n.getText('chat.config.import.settings.groups.append..desc')</div>
                </div>                        
            </fieldset>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="$i18n.getText('save.name')">
                        <a href="viewconfiguration.action">$i18n.getText('cancel.name')</a>
                </div>
            </div>
        </form>
    </body>
</html>