<html>
    <head>
        <title>$i18n.getText('chat.config.tab.spacesettings')</title>
        <meta name="help-path" content="confluence/chat/templates/help.vm"/>
        <content tag="selectedWebItem">chat.config.tab.spacesettings</content>
    </head>
    <body>
        <h2>$i18n.getText('space.name')</h2>
        <table width="100%" class="grid aui">
            <tbody><tr>
                    <th>$i18n.getText('space.name')</th>
                    <th>$i18n.getText('chat.config.access.all.title')</th>
                    <th>$i18n.getText('chat.config.access.restrict.title')</th>
                    <th></th>
                </tr>

                #foreach ($space in $spaceManager.getAllSpaces())
                #if(!$space.isPersonal())
                #set($config = $chatManager.getChatSpaceConfiguration($space.getKey()))
                <tr>
                    <td>$space.getName()</td>
                    <td>
                        #if ($config.getAllowAll())
                        $i18n.getText('yes.name')
                        #else
                        $i18n.getText('no.name')
                        #end
                    </td>
                    <td>$action.getGroups($config)</td>

                    <td><a href="$req.contextPath/spaces/confluence.chat/viewconfiguration.action?key=$space.getKey()" >$i18n.getText('chat.config.tab.chat')</a></td>
                </tr>
                #end
                #end
            </tbody>
        </table>                 
        <h2>$i18n.getText('permissions.PERSONALSPACE')</h2>
        <table width="100%" class="grid aui">
            <tbody><tr>
                    <th>$i18n.getText('space.name')</th>
                    <th>$i18n.getText('chat.config.access.all.title')</th>
                    <th>$i18n.getText('chat.config.access.restrict.title')</th>
                    <th></th>
                </tr>

                #foreach ($space in $spaceManager.getAllSpaces())
                #if($space.isPersonal())
                #set($config = $chatManager.getChatSpaceConfiguration($space.getKey()))
                <tr>
                    <td>$space.getName()</td>
                    <td>
                        #if ($config.getAllowAll())
                        $i18n.getText('yes.name')
                        #else
                        $i18n.getText('no.name')
                        #end
                    </td>
                    <td>$action.getGroups($config)</td>
                    <td><a href="$req.contextPath/spaces/confluence.chat/viewconfiguration.action?key=$space.getKey()" >$i18n.getText('chat.config.tab.chat')</a></td>
                </tr>
                #end
                #end
            </tbody>
        </table>                 
    </body>
</html>