#putMetadata('activeTab', $action.getActiveTab())
<html>
    <head>
        #requireResource("confluence.chat:chat-files-admin")
        <title>$i18n.getText('chat.config.title')</title>
        <meta name="help-path" content="confluence/chat/templates/help.vm"/>
    </head>
    <body>
        #parse ( "/template/includes/actionerrors.vm" )
        #parse ( "/template/includes/actionmessages.vm" )
        <div class="aui-tabs horizontal-tabs">
            <ul class="tabs-menu">
                <li class="menu-item active-tab">
                    <a href="#chatconfig"><strong>$i18n.getText('chat.config.tab.chat')</strong></a>
                </li>
                <li class="menu-item">
                    <a href="#history"><strong>$i18n.getText('chat.config.tab.history')</strong></a>
                </li>
                <li class="menu-item">
                    <a href="#spaceimporter"><strong>$i18n.getText('chat.config.tab.spaceimporter')</strong></a>
                </li>
                <li class="menu-item">
                    <a href="#spacesettings"><strong>$i18n.getText('chat.config.tab.spacesettings')</strong></a>
                </li>
            </ul>
            <div id="chatconfig" class="tabs-pane active-pane">


                <form action="updateconfiguration.action" method="post" class="aui" id="chat-configuration">
                    #form_xsrfToken()
                    <fieldset>
                        <h2>$i18n.getText('chat.config.access.title')</h2>
                        <p>$i18n.getText('chat.config.access.desc')</p>
                        <div class="field-group">
                            <label for="chat-all-users-edit">$i18n.getText('chat.config.access.all.title')</label>
                            <div class="edit">
                                <input class="checkbox" type="checkbox" id="chat-all-users-edit" name="allowAll" title="$i18n.getText('chat.config.access.all.desc')" #if ($action.getAllowAllUsers()) checked="checked" #end>
                                    <div class="description">$i18n.getText('chat.config.access.all.desc')</div>
                            </div>
                            <div class="view">
                                <div id="chat-all-users-view" class="field-value">
                                    #if ($action.getAllowAllUsers())
                                    $i18n.getText('yes.name')
                                    #else
                                    $i18n.getText('no.name')
                                    #end
                                </div>
                            </div>
                        </div>
                        <div class="field-group" id="chat-access-groups">
                            <label for="chat-access-groups-edit">$i18n.getText('chat.config.access.restrict.title')</label>
                            <div class="edit">
                                <textarea id="chat-access-groups-edit" name="groups" title="Access Groups" cols="50" rows="10" autocomplete="off">$action.getAccessGroupsLines()</textarea>
                                <div class="description">$i18n.getText('chat.config.access.restrict.desc')</div>
                            </div>
                            <div class="view">
                                <div id="chat-access-groups-view" class="field-value">$action.getAccessGroupsCSV()</div>
                            </div>
                        </div>
                        <h2>$i18n.getText('chat.config.settings')</h2>
                        <div class="field-group">
                            <label for="chat-showWhereIam">$i18n.getText('chat.config.whereiam.title')</label>
                            <div class="edit">
                                <input class="checkbox" type="checkbox" id="chat-showWhereIam" name="showWhereIam"  autocomplete="off"  title="$i18n.getText('chat.config.whereiam.desc')" #if ($action.getShowWhereIam()) checked="checked" #end>
                                    <div class="description">$i18n.getText('chat.config.whereiam.desc')</div>
                            </div>
                            <div class="view">
                                <div id="chat-all-location-view" class="field-value">
                                    #if ($action.getShowWhereIam())
                                    $i18n.getText('yes.name')
                                    #else
                                    $i18n.getText('no.name')
                                    #end
                                </div>
                            </div>
                        </div>
                        <div class="field-group">
                            <label for="chat-playSound">$i18n.getText('chat.config.audio.title')</label>
                            <div class="edit">
                                <input class="checkbox" type="checkbox" id="chat-playSound" name="playSound"  autocomplete="off"  title="$i18n.getText('chat.config.audio.desc')" #if ($action.getPlaySound()) checked="checked" #end>
                                    <div class="description">$i18n.getText('chat.config.audio.desc')</div>
                                    <div class="description no-audio">$i18n.getText('chat.config.audio.noaudio')</div>
                            </div>
                            <div class="view">
                                <div class="field-value">
                                    #if ($action.getPlaySound())
                                    $i18n.getText('yes.name')
                                    #else
                                    $i18n.getText('no.name')
                                    #end
                                    <div class="description no-audio">$i18n.getText('chat.config.audio.noaudio')</div>
                                </div>
                            </div>
                        </div>                
                        <div class="field-group">
                            <label for="chat-hideInEditMode">$i18n.getText('chat.config.hide.title')</label>
                            <div class="edit">
                                <input class="checkbox" type="checkbox" id="chat-hideInEditMode" name="hideInEditMode"  autocomplete="off"  title="$i18n.getText('chat.config.hide.desc')" #if ($action.getHideInEditMode()) checked="checked" #end>
                                    <div class="description">$i18n.getText('chat.config.hide.desc')</div>
                            </div>
                            <div class="view">
                                <div id="chat-hideInEditMode" class="field-value">
                                    #if ($action.getHideInEditMode())
                                    $i18n.getText('yes.name')
                                    #else
                                    $i18n.getText('no.name')
                                    #end
                                </div>
                            </div>
                        </div>                
                        <div class="field-group">
                            <label for="chat-debugMode">$i18n.getText('chat.config.debug.title')</label>
                            <div class="edit">
                                <input class="checkbox" type="checkbox" id="chat-debugMode" name="debugMode" autocomplete="off" title="$i18n.getText('chat.config.debug.desc')" #if ($action.getDebugMode()) checked="checked" #end>
                                    <div class="description">$i18n.getText('chat.config.debug.desc')</div>
                            </div>
                            <div class="view">
                                <div id="chat-debugMode" class="field-value">
                                    #if ($action.getDebugMode())
                                    $i18n.getText('yes.name')
                                    #else
                                    $i18n.getText('no.name')
                                    #end
                                </div>
                            </div>
                        </div>                    
                    </fieldset>
                    <div class="buttons-container">
                        <div class="buttons view">
                            <a id="chat-edit" class="view" href="#edit">$i18n.getText('edit.name')</a>
                        </div>
                        <div class="buttons edit">
                            <input id="chat-save" class="button submit" type="submit" value="$i18n.getText('save.name')">
                                <a href="viewconfiguration.action">$i18n.getText('cancel.name')</a>
                        </div>
                    </div>
                </form>
            </div>
            <div id="history" class="tabs-pane">
                <table width="100%" class="grid">
                    <tbody><tr>
                            <th>$i18n.getText('username.name')</th>
                            <th>$i18n.getText('chat.config.boxes')</th>
                            <th></th>
                        </tr>
                        #foreach ($mapEntry in $action.getChatBoxes().entrySet())
                        <tr>
                            <td  align="left"><label class="label">$mapEntry.key</label></td>
                            <td >$mapEntry.value</td>
                            <td><a href="editchathistory.action?username=$mapEntry.key">$i18n.getText('remove.name')</a></td>
                        </tr>
                        #end
                    </tbody>
                </table>                
            </div>
            <div id="spaceimporter" class="tabs-pane">
                <form action="doconfiguremultiplespaces.action" method="post" class="aui" >
                    #form_xsrfToken()
                    <h2>$i18n.getText('chat.config.access.import')</h2>
                    <fieldset>
                        <div class="field-group">
                            <label for="chat-all-users-edit-tools">$i18n.getText('space.name')</label>
                            <select name="space" multiple="true" autocomplete="false" class="chat-config-tools-spaces">
                                #foreach ($space in $spaceManager.getAllSpaces())
                                #if(!$space.isPersonal())
                                <option value="$space.getKey()">$space.getName()</option>
                                #end
                                #end
                            </select>
                            <div class="description">$i18n.getText('chat.config.tools.spaces')</div>
                        </div>
                        <div class="field-group">
                            <label for="chat-all-users-edit-tools">$i18n.getText('permissions.PERSONALSPACE')</label>
                            <select name="space" multiple="true" autocomplete="false" class="chat-config-tools-spaces">
                                #foreach ($space in $spaceManager.getAllSpaces())
                                #if($space.isPersonal())
                                <option value="$space.getKey()">$space.getName()</option>
                                #end
                                #end
                            </select>
                            <div class="description">$i18n.getText('chat.config.tools.spaces')</div>
                        </div>                        

                        <div class="field-group">
                            <label for="chat-all-users-edit-tools">$i18n.getText('chat.config.access.all.title')</label>
                            <input class="checkbox" type="checkbox"  name="allowAll" title="$i18n.getText('chat.config.access.all.desc')" autocomplete="false">
                                <div class="description">$i18n.getText('chat.config.access.all.desc')</div>
                        </div>
                        <div class="field-group" id="chat-access-groups">
                            <label for="chat-access-groups-edit-tools">$i18n.getText('chat.config.access.restrict.title')</label>
                            <textarea id="chat-access-groups-edit-tools" name="groups" title="Access Groups" cols="50" rows="10" autocomplete="off"></textarea>
                            <div class="description">$i18n.getText('chat.config.access.restrict.desc')</div>
                        </div>
                        <h2>$i18n.getText('chat.config.access.import.settings')</h2>
                        <div class="field-group">
                            <label >$i18n.getText('chat.config.import.settings.all.title')</label>
                            <input class="checkbox" type="checkbox"  name="overwriteAllowAll" title="$i18n.getText('chat.config.import.settings.all.desc')" autocomplete="false" checked="checked">
                                <div class="description">$i18n.getText('chat.config.import.settings.all.desc')</div>
                        </div>
                        <!--
                        <div class="field-group">
                            <label>$i18n.getText('chat.config.import.settings.groups.title')</label>
                            <input class="checkbox" type="checkbox"  name="overwriteGroups" title="$i18n.getText('chat.config.import.settings.groups.desc')" autocomplete="false" checked="checked">
                                <div class="description">$i18n.getText('chat.config.import.settings.groups.desc')</div>
                        </div>-->
                        <div class="field-group">
                            <label>$i18n.getText('chat.config.import.settings.groups.append')</label>
                            <input class="checkbox" type="checkbox"  name="appendGroups" title="$i18n.getText('chat.config.import.settings.groups.append.desc')" autocomplete="false" checked="checked">
                                <div class="description">$i18n.getText('chat.config.import.settings.groups.append..desc')</div>
                        </div>                        
                    </fieldset>
                    <div class="buttons-container">
                        <div class="buttons">
                            <input class="button submit" type="submit" value="$i18n.getText('save.name')">
                                <a href="viewconfiguration.action">$i18n.getText('cancel.name')</a>
                        </div>
                    </div>
                </form>
            </div>
            <div id="spacesettings" class="tabs-pane">
                <h2>$i18n.getText('space.name')</h2>
                <table width="100%" class="grid">
                    <tbody><tr>
                            <th>$i18n.getText('space.name')</th>
                            <th>$i18n.getText('chat.config.access.all.title')</th>
                            <th>$i18n.getText('chat.config.access.restrict.title')</th>
                            <th></th>
                        </tr>

                        #foreach ($space in $spaceManager.getAllSpaces())
                        #if(!$space.isPersonal())
                        #set($config = $chatManager.getChatSpaceConfiguration($space.getKey()))
                        <tr>
                            <td>$space.getName()</td>
                            <td>
                                #if ($config.getAllowAll())
                                $i18n.getText('yes.name')
                                #else
                                $i18n.getText('no.name')
                                #end
                            </td>
                            <td>$action.getGroups($config)</td>

                            <td><a href="$req.contextPath/spaces/confluence.chat/viewconfiguration.action?key=$space.getKey()" >$i18n.getText('chat.config.tab.chat')</a></td>
                        </tr>
                        #end
                        #end
                    </tbody>
                </table>                 
                <h2>$i18n.getText('permissions.PERSONALSPACE')</h2>
                <table width="100%" class="grid">
                    <tbody><tr>
                            <th>$i18n.getText('space.name')</th>
                            <th>$i18n.getText('chat.config.access.all.title')</th>
                            <th>$i18n.getText('chat.config.access.restrict.title')</th>
                            <th></th>
                        </tr>

                        #foreach ($space in $spaceManager.getAllSpaces())
                        #if($space.isPersonal())
                        #set($config = $chatManager.getChatSpaceConfiguration($space.getKey()))
                        <tr>
                            <td>$space.getName()</td>
                            <td>
                                #if ($config.getAllowAll())
                                $i18n.getText('yes.name')
                                #else
                                $i18n.getText('no.name')
                                #end
                            </td>
                            <td>$action.getGroups($config)</td>
                            <td><a href="$req.contextPath/spaces/confluence.chat/viewconfiguration.action?key=$space.getKey()" >$i18n.getText('chat.config.tab.chat')</a></td>
                        </tr>
                        #end
                        #end
                    </tbody>
                </table>                 
            </div>
        </div>
    </body>
</html>