<html>
    <head>
        <title>$action.getText('chat.config.title')</title>
    </head>
    #requireResource("confluence.chat:chat-files-admin")
    #applyDecorator("root")
    #decoratorParam("helper" $action.spaceHelper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode"  "view-space-administration")
    #decoratorParam("help-path" "confluence/chat/templates/help.vm")

        #applyDecorator ("root")
        #decoratorParam ("context" "spaceadminpanel")
        #decoratorParam ("selection" "confluence-chat-space-admin")
        #decoratorParam ("title" $action.getText("chat.config.title"))
        #decoratorParam ("selectedTab" "addons")
        #decoratorParam("helper" $action.spaceHelper)
            <form action="updateconfiguration.action" method="post" class="aui" id="chat-configuration">
                #form_xsrfToken()
                <input type="hidden" name="key" value="$helper.spaceKey" />
                <fieldset>
                    <h2>$i18n.getText('chat.config.access.title')</h2>
                    <p>$i18n.getText('chat.config.access.desc')</p>
                    <div class="field-group">
                        <label for="chat-all-users-edit">$i18n.getText('chat.config.access.all.title')</label>
                        <div class="edit">
                            <input class="checkbox" type="checkbox" id="chat-all-users-edit" name="allowAll" title="$i18n.getText('chat.config.access.all.desc')" #if ($action.getAllowAllUsers()) checked="checked" #end>
                                <div class="description">$i18n.getText('chat.config.access.all.desc')</div>
                        </div>
                        <div class="view">
                            <div id="chat-all-users-view" class="field-value">
                                #if ($action.getAllowAllUsers())
                                $i18n.getText('yes.name')
                                #else
                                $i18n.getText('no.name')
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="field-group" id="chat-access-groups">
                        <label for="chat-access-groups-edit">$i18n.getText('chat.config.access.restrict.title')</label>
                        <div class="edit">
                            <textarea id="chat-access-groups-edit" name="groups" title="Access Groups" cols="50" rows="10" autocomplete="off">$action.getAccessGroupsLines()</textarea>
                            <div class="description">$i18n.getText('chat.config.access.restrict.desc')</div>
                        </div>
                        <div class="view">
                            <div id="chat-access-groups-view" class="field-value">$action.getAccessGroupsCSV()</div>
                        </div>
                    </div>
                    <div class="chat-config-global-info">
                        <h2>$i18n.getText('chat.config.global')</h2>
                        <p>$i18n.getText('chat.config.global.desc')</p>
                        <div class="field-group">
                            <label>$i18n.getText('chat.config.access.all.title')</label>
                            <div class="field-value">
                                #if ($action.getGlobalAllowAll())
                                $i18n.getText('yes.name')
                                #else
                                $i18n.getText('no.name')
                                #end
                            </div>
                        </div>
                        <div class="field-group">
                            <label >$i18n.getText('chat.config.access.restrict.title')</label>
                            <div class="field-value">$action.getGlobalGroups()</div>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons view">
                        <a id="chat-edit" class="view" href="#edit">$i18n.getText('edit.name')</a>
                    </div>
                    <div class="buttons edit">
                        <input id="chat-save" class="aui-button aui-button-primary submit" type="submit" value="$i18n.getText('save.name')">
						<a class="aui-button-link aui-button" href="$req.contextPath/spaces/confluence.chat/viewconfiguration.action?key=$helper.spaceKey">$i18n.getText('cancel.name')</a>
                    </div>
                </div>
            </form>
        #end
    #end
</html>