<div class="chat-historylist">
    #if($chatUser.username)    
        #if($messages.isEmpty())
            <h1 class="chat-history-title">#usernameLink($chatUser.username)</h1>
            #parse("confluence/chat/templates/gethistory-switcher.vm")
            #applyDecorator ("warning" )
                $i18n.getText('chat.history.empty')
           #end  
        #else
            #set($messagesince = $messages.get(0).senddate)
            <h1 class="chat-history-title">#usernameLink($chatUser.username) - $dateFormatter.formatDateTime($messagesince)</h1>
        <form class="parameters hidden">
            <input type="text" name="fullname" value="$!generalUtil.escapeForHtmlAttribute($chatUser.fullName)" />
            <input type="text" name="username" value="$!chatUser.username" />
            <input type="text" name="senddate" value="$!senddate" />
            <input type="text" name="id" value="$!id" />
        </form>
        #parse("confluence/chat/templates/gethistory-switcher.vm")

            #set($author = "")
            #set($oldLine = false)

            #foreach($chatMessage in $messages)    
                #set($senddate = $chatMessage.senddate.time)

                #set($id = $chatMessage.id)
                #set($newLine = $action.writeNewLine($chatMessage.senddate))
                ## Wenn vorher schon eine neue line war und nun wieder -> alte schliessen
                #if($oldLine && $newLine)</div>#end 
                #if($newLine )
                    <div class="cb-mc">
                        <div class="cb-mt">$dateFormatter.formatDateTime($chatMessage.senddate)</div>
                  #end
                  #set($newAuthor = $author  != $chatMessage.from)

                  #if($newAuthor || $newLine)
                        #if($author != "")
                                       </div>
                                </div><!-- new author -->
                        #end
                        #set($author = $chatMessage.from)  
                        <div class="cb-ut">
                            <div>
                                <div class="cb-f">#usernameLink($chatMessage.from)</div>
                  #end
                  #set($messageHTML = $chatMessage.message)
                 <div class="cb-mtext">$messageHTML</div>
                  #set($oldLine = true)
            #end
                            </div>
                        </div><!-- new author -->
            </div>
        #end
   #else
        
        #set ($paginationUrl="?searchTerm=$!{searchTerm}&")
        #if ($action.paginationSupport.items)
            #entityPagination($action.paginationSupport $paginationUrl)
            #set ($currentIndex = $action.paginationSupport.startIndex)
        #end
        <table id="browse-user-table" class="aui user-table">
            <thead>
                <tr>
                    <th width="80%">$action.getText("user.name")</th>
                    <th width="20%">$action.getText("heading.operations")</th>
                </tr>
            </thead>
            <tbody>
                #foreach ($chatboxId in $action.paginationSupport.page.iterator())
                    #if($chatManager.isRenameUserImplemented())
                        #set($historyUsername = $chatboxId)
                    #else
                        #set($historyUsername = $chatManager.getChatBoxes($remoteUser).getChatBoxByStringId($chatboxId).getUserKeyMembers().get(0))
                    #end
                    <tr >
                        <td>
                            #usernameLink($historyUsername)
                        </td>
                        <td>
							<a href="$req.contextPath/users/chat/history.action?historyUsername=$historyUsername&username=$user.name">$i18n.getText('show.word')</a>
							&middot;
							<a href="$req.contextPath/users/chat/deletehistory.action?historyUsername=$historyUsername&username=$user.name">$i18n.getText('remove.name')</a> 
						</td>
                    </tr>
                #end
            </tbody>
        </table>
        #if ($action.paginationSupport.items.isEmpty())
            $action.getText("there.are.no.users")
        #end
        #if ($action.paginationSupport.items)
            #entityPagination($action.paginationSupport $paginationUrl)
        #end
   #end
</div>