<html>
	<head>
         <title>$i18n.getText('chat.history.title')</title>        
	</head>

#applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "chat-history")
    #decoratorParam("helper" $action.helper)
    <body>
        #parse("confluence/chat/templates/gethistory.vm")
    </body>
#end ## applyDecorator root
</html>