#chat-configuration .edit {
    display: none;
}

#chat-configuration.editing .edit {
    display: block;
}

#chat-configuration.editing .view {
    display: none;
}

#chat-configuration .buttons-container {
    padding-top: 10px;
    margin: 10px;
}

#chat-configuration .no-audio {
    display: block;
}
.audio  #chat-configuration .no-audio {
    display: none;

}

body #chat-configuration .chat-config-global-info  * {
    color: #666666;
}
.chat-config-tools-spaces {
    width: 389px;
    height: 117px;
}