.chatbox {
    position: fixed;
    position:expression("absolute");
    width: 260px;
    background-color: #ffffff;
}

.chatbox.min .cb-content-hold {
    display: none;
}
.chatbox.closed {
    display: none;
}

.cb-head {
    background-color: #003366;
    padding:7px;
    color: #ffffff;
    border-right:1px solid #003366;
    border-left:1px solid #003366;
    min-height: 17px;
}



.cb-head .chat-where a:link,
.cb-head .chat-where a:active,
.cb-head .chat-where a:visited{
    color: #fff
}

.blink .cb-head {
    background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;
}

.cb-head-sub, 
.cb-content {
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    color: #333333;
    font-family: arial,sans-serif;
    font-size: 13px;
}
.cb-content {


    height:221px;
    overflow-y:auto;
    overflow-x:auto;
    padding:0 5px;

}

.chatbox .chat-where {
    padding: 5px 5px 0 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
}

.cb-input {
    padding: 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.cb-input textarea{
    width: 235px;
    padding: 5px;
    border: 1px solid #ccc;
    margin:0;
    box-shadow: 0 1px 3px #ccc inset;
}

/*textarea selected*/
.cb-ts {
    border: 2px solid #003366;

}
/*message hoder*/
.cb-m {
    margin-left:1em;
}
/*user from*/
.cb-f {
    font-weight: bold;
}

/*messsage content*/
.cb-mc {
    clear: both;
}

.cb-content .cb-mc:first-child {
    padding-top: 5px;
}
.cb-content .cb-mc:last-child {
    padding-bottom: 5px;
}

/*messsage text*/
.cb-mtext {
    margin-bottom: 4px;
}
/*options*/

#chatbar .cb-opt{
    float: right;
    width: 70px;
    text-align: right;
}

.chatbox .cb-actions-more,
.chatbox .cb-opt{
    float: right;
}

.chatbox .cb-dropdown {
    list-style: none;
    margin: 3px 10px 0 0;
    padding: 0;
}

.chatbox .cb-opt > a,
#chatbar .cb-opt > a {
    text-decoration: none;
    color: #ffffff;
    font-weight:bold;
    font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    height: 16px;
    display: inline-block;
    width: 16px;
    line-height: 1em;
}

.chatbox .cb-opt > a:hover,
#chatbar .cb-opt > a:hover {
    text-shadow: 0px 0px 2px #ccc;
    text-decoration: none;
}

cb-title {
    /*    float: left;*/
    margin-right: 50px;
}

.chatbox .userLogoLink {


    float: left;
}
.chatbox .userLogoLink  img {
    width: 40px;
    height: 40px;
}

.chatbox .cb-mh{
    margin-left: 45px;  
}

.chat-historylist .cb-mt,
.chatbox .cb-mt{
    text-align: right;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
    padding-bottom:  5px;
    color: #777777
}

.chat-historylist .cb-ut,
.chatbox .cb-ut {
    clear: both;
}

.chatbox.min .opt-min {
    display: none;
}
.chatbox .cb-opt a {
    margin-left: 5px 0 5px 5px;
}
.chatbox .opt-history {
    background: url(images-chat/history.png);
}

.chatbox .opt-remove-history {
    background: url(images-chat/history.png);
}


.chatbox .opt-sub-head {
    display: inline-block;
    text-indent: 99999px;
    width: 16px;
    margin-left: 5px;
}

.chatbox  a.opt-max {
    display: none;
}
.chatbox.min .opt-max {
    display: inline-block;
}
.chatbox .chat-where-text span{
    font-size: 11px;
}
.chatbox .chat-where-text {
    display: block; 
    margin-left: 20px;
}
.chatbox .chat-where a.icon{
    float: left;
    margin-top: 1px;
}

#chatsound {
    /*display: none;*/
}

.chat-history-link {
    float: left;
}

.aui-dialog .dialog-button-panel a.button-panel-link.chat-history-link.active {
    color: black;
}

.aui-dialog .chat-history-user-page,
.aui-dialog .chat-history-title {
    display: none;
}

h1.chat-history-title .confluence-userlink {
    color: #000;
}

.chat-historylist .userLogoLink {
    float: left;
}

.chat-historylist .cb-mh{
    margin-left: 60px;
}