.chatbox {
    position: fixed;
    position:expression("absolute");
    width: 260px;
    background-color: #ffffff;
}

.chatbox.min .cb-content-hold {
    display: none;
}
.chatbox.closed {
    display: none;
}

.cb-head {
    background-color: #003366;
    padding:7px;
    color: #ffffff;
    border-right:1px solid #003366;
    border-left:1px solid #003366;
    min-height: 17px;
}
.cb-head .chat-where a:link,
.cb-head .chat-where a:active,
.cb-head .chat-where a:visited{
    color: #fff
}

.blink .cb-head {
    background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;
}

.cb-content {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #333333;
    height:221px;
    overflow-y:auto;
    overflow-x:auto;
    padding:0 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
}

.chatbox .chat-where {
    padding: 5px 5px 0 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
}

.cb-input {
    padding: 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.cb-input textarea{
    width: 100%;
    height:44px;
    border: 1px solid #eeeeee;
    overflow:hidden;
    margin:0;
}

/*textarea selected*/
.cb-ts {
    border: 2px solid #003366;

}
/*message hoder*/
.cb-m {
    margin-left:1em;
}
/*user from*/
.cb-f {
    font-weight: bold;
}

/*messsage content*/
.cb-mc {
    clear: both;
}

.cb-content .cb-mc:first-child {
    padding-top: 5px;
}
.cb-content .cb-mc:last-child {
    padding-bottom: 5px;
}

/*messsage text*/
.cb-mtext {
    margin-bottom: 4px;
}
/*options*/
.chatbox .cb-opt,
#chatbar .cb-opt{
    float: right;
    width: 50px;
    text-align: right;
}

.chatbox .cb-opt a,
#chatbar .cb-opt a {
    text-decoration: none;
    color: #ffffff;
    font-weight:bold;
    font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatbox .cb-opt a:hover,
#chatbar .cb-opt a:hover {
    text-shadow: 0px 0px 2px #ccc;
    text-decoration: none;
}

.cb-title {
    /*    float: left;*/
    margin-right: 50px;
}

.chatbox .userLogoLink {


    float: left;
}
.chatbox .userLogoLink  img {
    width: 40px;
    height: 40px;
}

.chatbox .cb-mh{
    margin-left: 45px;  
}
.chatbox .cb-mt{
    text-align: right;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
    padding-bottom:  5px;
    color: #777777
}

.chatbox .cb-ut {
    clear: both;
}

.chatbox.min .opt-min {
    display: none;
}
.chatbox .cb-opt a {
    margin-left: 5px;
}

.chatbox .opt-max {
    display: none;
}
.chatbox.min .opt-max {
    display: inline;
}
.chatbox .chat-where-text span{
    font-size: 11px;
}
.chatbox .chat-where-text {
    display: block; 
    margin-left: 20px;
}
.chatbox .chat-where a.icon{
    float: left;
    margin-top: 1px;
}