.chatbox {
    position: fixed;
    position:expression("absolute");
    width: 260px;
    display:none;
}

.cb-head {
    background-color: #003366;
    padding:7px;
    color: #ffffff;

    border-right:1px solid #003366;
    border-left:1px solid #003366;
    height: 17px;
}

.blink .cb-head {
    background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;
}

.cb-content {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #333333;
    height:200px;
    overflow-y:auto;
    overflow-x:auto;
    padding:0 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    background-color: #ffffff;
}

.cb-input {
    padding: 5px;
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.cb-input textarea{
    width: 100%;
    height:44px;
    border: 1px solid #eeeeee;
    overflow:hidden;
    margin:0;
}

/*textarea selected*/
.cb-ts {
    border: 2px solid #003366;

}
/*message hoder*/
.cb-m {
    margin-left:1em;
}
/*user from*/
.cb-f {
    font-weight: bold;
}

/*messsage content*/
.cb-mc {
    clear: both;
}

/*messsage text*/
.cb-mtext {
    margin-bottom: 4px;
}
/*options*/
.cb-opt {
    float: right;
    width: 50px;
    text-align: right;
}

.cb-opt a {
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.cb-title {
/*    float: left;*/
margin-right: 50px;
}

.chatbox .userLogoLink {


    float: left;
}
.chatbox .userLogoLink  img {
    width: 40px;
    height: 40px;
}

.chatbox .cb-mh{
    margin-left: 45px;  
}
.chatbox .cb-mt{
    text-align: right;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
    padding-bottom:  5px;
    color: #777777
}

.chatbox .cb-ut {
    clear: both;
}
