.chatbox,
#chatbar {

    right:  0;
    position: fixed;
    bottom:  0%;
    z-index: 3000;

}
#chatbar-buttons {
    background-color: #003366;
}

#chatbar #chatbar-button-online {
    padding-left: 0;
    text-align: left;
    width: 186px;
}

#chatbar-buttons > div {
    float: left;
    font-size: 13px;
    min-width: 30px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 7px;
}

#chatbar-buttons > div:hover {
    text-shadow: 0px 0px 2px #ccc;
}


#chatbar.online  .online,
#chatbar.offline  .offline{
    display: block;
}
#chatbar.offline  .online,
#chatbar.online  .offline{
    display: none;
}



#chatbar .chatbar-box {
    bottom: 30px;
    color: #000000;
    position: absolute;
    width: 225px;
    right: 0;
    display: none;
}
#chatbar .chatbar-box-content{
    height: 249px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: auto;
}
.chat-user {
    border-bottom: 1px solid #CCCCCC;

}
.chat-user > div {
    cursor: pointer;
    padding: 5px;
}

#chatbar-online-users{
    background: #ffffff;
}
#chatbar-online-users-list .chat-user:last-child{
    /*    border-bottom: none;*/
}
.chat-user.hover,
.chat-user:hover{
    background-color: #EEEEEE;
}

.chat-user .chat-user-img {

}
.chat-user  img{
    height: 16px;
    float: left;
}
.chat-user a {
    text-decoration: none;
    color: black;
}

.chat-user .chat-user-info{
    padding-left: 17px;
}
.chat-user .chat-where span,
.chat-user .chat-user-status {
    color: gray;
    font-size: 11px;
}
#chatbar #chatbar-status #chatbar-button-config{
    background: url("images-chat/chat.png");
    background-repeat: no-repeat;
    background-position: 10px 11px;
    width: 17px;
    min-width: 17px;

}
.chatuser-link-holder .chat, 
.chatuser-link-holder .away, 
.chatuser-link-holder .chat, 
.chatuser-link-holder .xa,
.chatbox .dnd .cb-title,
.chatbox .away .cb-title,
.chatbox .chat .cb-title{
    background: url("images-chat/chat.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 15px;
}


#chatbar  .chat-user .dnd .chat-user-info,
#chatbar  .chat-user .offline .chat-user-info,
#chatbar  .chat-user  .away .chat-user-info ,
#chatbar  .chat-user  .chat .chat-user-info {
    background: url("images-chat/chat.png");
    background-repeat: no-repeat;
    background-position: 2px 4px;
}
.chatuser-link-holder .away,
.chatbox .away .cb-title,
#chatbar #chatbar-status.away #chatbar-button-config,
#chatbar  .chat-user  .away .chat-user-info { 
    background-image:  url("images-chat/away.png") 
}
.chatuser-link-holder .xa,
#chatbar  .chat-user .offline .chat-user-info  {
    background-image:  url("images-chat/xa.png") 

}
.chatuser-link-holder .dnd,
.chatbox .dnd .cb-title,
#chatbar #chatbar-status.dnd #chatbar-button-config,
#chatbar  .chat-user .dnd .chat-user-info {
    background-image:  url("images-chat/dnd.png") 
}

#chatbar #chatbar-status.xa #chatbar-button-config {
    background-image: none;
}

#chatbar #chatbar-config select {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#chatbar .chat-where {
    display: block; 
    padding-left: 18px;
}
#chatbar .chat-where a{ 
    left: -20px;
    margin-right: -16px;
    position: relative;
    top: 4px;
}

