/*

#chatbar #chatbar-config{
    padding: 10px;
}

#chatbar .cb-title-config,
#chatbar #chatbar-config,
#chatbar.open.config #chatbar-online-users,
#chatbar.open.config .cb-title-users,
#chatbar.open.config .cb-config,
#chatbar.open.users .cb-users,
#chatbar-buttons #chatbar-button-online {
    display: none;
}

#chatbar.open #chatbar-buttons #chatbar-button-online,
#chatbar:hover #chatbar-buttons #chatbar-button-online{
    display: block;
}
#chatbar.open .chatbar-box{
    display: block;
}
#chatbar.open.config .cb-title-config,
#chatbar.open.config #chatbar-config{
    display: block;
}
#chatbar.open.config #chatbar-config{

}

#chatbar #chatbar-button-online {
    padding-left: 0;
    text-align: left;
    width: 186px;
}

#chatbar .cb-users,
#chatbar .cb-config {
    background: url("images-chat/cog.png");
    background-repeat: no-repeat;
    background-position: 0 3px;
}

#chatbar .cb-users{
    background-image: url("images-chat/users.png");
}

#chatbar-buttons {
    height: 30px;
}

#chatbar-buttons > div {
    float: left;
    font-size: 13px;
    min-width: 30px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 7px;
}

#chatbar-buttons > div:hover {
    text-shadow: 0px 0px 2px #ccc;
}


#chatbar.online  .online,
#chatbar.offline  .offline{
    display: block;
    text-align: center;
}
#chatbar.offline  .online,
#chatbar.online  .offline{
    display: none;
	text-align: center;
}



#chatbar .chatbar-box {
    bottom: 30px;
    color: #000000;
    position: absolute;
    width: 225px;
    right: 0;
    display: none;
}
#chatbar .chatbar-box-content{
    height: 249px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: auto;
}
.chat-user {
    border-bottom: 1px solid #CCCCCC;

}
.chat-user > div {
    cursor: pointer;
    padding: 5px;
}

#chatbar-online-users{
    background: #ffffff;
}
#chatbar-online-users-list .chat-user:last-child{
        border-bottom: none;
}
.chat-user.hover,
.chat-user:hover{
    background-color: #EEEEEE;
}

.chat-user .chat-user-img {

}
.chat-user  img{
    height: 16px;
    float: left;
}
.chat-user a {
    text-decoration: none;
    color: black;
}

.chat-user .chat-user-info{
    padding-left: 17px;
}
.chat-user .chat-where span,
.chat-user .chat-user-status {
    color: gray;
    font-size: 11px;
}.chatuser-link-holder .chat, 
.chatuser-link-holder .away, 
.chatuser-link-holder .dnd, 
.chatuser-link-holder .xa,
.chatbox .dnd .cb-title,
.chatbox .away .cb-title,
.chatbox .chat .cb-title{
    background: url("images-chat/chat.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 15px;
}


#chatbar  .chat-user .dnd .chat-user-info,
#chatbar  .chat-user .offline .chat-user-info,
#chatbar  .chat-user  .away .chat-user-info ,
#chatbar  .chat-user  .chat .chat-user-info {
    background: url("images-chat/chat.png");
    background-repeat: no-repeat;
    background-position: 2px 4px;
}
.chatuser-link-holder .away,
.chatbox .away .cb-title,
#chatbar  .chat-user  .away .chat-user-info { 
    background-image:  url("images-chat/away.png") 
}

#chatbar #chatbar-status.away #chatbar-status-icon{
	color: yellow;
}
.chatuser-link-holder .xa,
#chatbar  .chat-user .offline .chat-user-info  {
    background-image:  url("images-chat/xa.png") 

}
.chatuser-link-holder .dnd,
.chatbox .dnd .cb-title,
#chatbar  .chat-user .dnd .chat-user-info{
    background-image:  url("images-chat/dnd.png");
}

#chatbar #chatbar-status.dnd #chatbar-status-icon{
	color: red;
}

#chatbar #chatbar-status.xa #chatbar-status-icon {
	color: grey;
}

#chatbar #chatbar-config select {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

#chatbar .chat-where {
    display: block; 
    padding-left: 18px;
}
#chatbar .chat-where a{ 
    left: -20px;
    margin-right: -16px;
    position: relative;
}
*/


body.chat-active .toolbar-split-right {
    margin-right: 30px;
}