body {
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-size: 13px;
}
.chatbox,
#chatbar {

    right:  20px;
    position: fixed;
    bottom:  0%;
    z-index: 100000;

}
#chatbar-buttons > div {
    float: left;
    font-size: 13px;
    min-width: 30px;
    background-color: #003366;
    cursor: pointer;
    color: #FFFFFF;
    padding: 7px;


}
#chatbar.online  .online,
#chatbar.offline  .offline{
    display: block;
}
#chatbar.offline  .online,
#chatbar.online  .offline{
    display: none;
}

#chatbar #chatbar-status.dnd #chatbar-button-config {
    background-image:  url("images-chat/chat-dnd.png");
}

#chatbar #chatbar-status.away #chatbar-button-config {
    background-image:  url("images-chat/chat-away.png");
}

#chatbar-buttons #chatbar-button-config{
    background-image:  url("images-chat/chat.png");
    background-repeat: no-repeat;    
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #CCCCCC;
}


#chatbar .chatbar-box {
    bottom: 30px;
    color: #000000;
    position: absolute;
    width: 225px;
    right: 0;
    display: none;
}
#chatbar .chatbar-box-content{
    height: 249px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: auto;
}
.chat-user {
    border-bottom: 1px solid #CCCCCC;

}
.chat-user > div {
    cursor: pointer;
    padding: 5px;
}
#chatbar-online-users-list .chat-user:last-child{
    /*    border-bottom: none;*/
}
.chat-user.hover,
.chat-user:hover{
    background-color: #EEEEEE;
}

.chat-user .chat-user-img {

}
.chat-user  img{
    height: 16px;
    float: left;
}
.chat-user a {
    text-decoration: none;
    color: black;
}

.chat-user .chat-user-info{
    margin-left: 20px;
}
.chat-user .chat-user-status {
    color: gray;
}

#chatbar  .chat-user  .chat {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTFlODQyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #ffffff 45%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(45%,#ffffff), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 45%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 45%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 45%,#91e842 100%); /* IE10+ */
    background: linear-gradient(left,  #ffffff 45%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91e842',GradientType=1 ); /* IE6-8 */

}
#chatbar  .chat-user  .away{ 
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #ffffff 45%, #ffff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(45%,#ffffff), color-stop(100%,#ffff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 45%,#ffff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 45%,#ffff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 45%,#ffff00 100%); /* IE10+ */
    background: linear-gradient(left,  #ffffff 45%,#ffff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff00',GradientType=1 ); /* IE6-8 */
}
#chatbar  .chat-user .dnd {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmYwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #ffffff 45%, #ff0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(45%,#ffffff), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 45%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 45%,#ff0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 45%,#ff0000 100%); /* IE10+ */
    background: linear-gradient(left,  #ffffff 45%,#ff0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000',GradientType=1 ); /* IE6-8 */

}


#chatbar #chatbar-config select {
    margin: 10px;
    padding: 10px;
    width: 200px;
}
