@import "colors.less";

.chatbox {
	.chat-discussion {
		height:221px;
		overflow-y:auto;
		overflow-x:auto;
		list-style: none;
		margin: 0;
		padding: 0 0 50px 0;
		li {
			padding: 0.5rem;
			overflow: hidden;
			display: flex;
		}
		.avatar {
			width: 30px;
			height: 30px;
			position: relative;
		}
		.avatar img {
			display: block;
			width: 100%;
		}


		.other .avatar:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border: 5px solid white;
			border-left-color: transparent;
			border-bottom-color: transparent;
		}

		.self {
			justify-content: flex-end;
			/*align-items: flex-end;*/
			.messages {
				order: 1;
				border-bottom-right-radius: 0;
			}
			.avatar {
				order: 2;
			}
			.avatar:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border: 5px solid white;
				border-right-color: transparent;
				border-bottom-color: transparent;
			}
		}
		.messages {
			background: white;
			padding: 10px;
			border-radius: 2px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			p {
				font-size: 0.8rem;
				margin: 0 0 0.2rem 0;
			}
			time {
				font-size: 0.7rem;
				color: #ccc;
			}
		}
	}


	/*	.chat-where {
			padding: 5px 5px 0 5px;
			border-left:1px solid @border-color;
			border-right:1px solid @border-color;
	
			.chat-where-text {
	
				display: block; 
				margin-left: 20px;
	
				a.icon{
					float: left;
					margin-top: 1px;
				}
	
				span{
					font-size: 11px;
				}
			}
		}*/

	.cb-input {
		padding: 5px;

		textarea{
			width: 235px;
			padding: 5px;
			border: 1px solid #ccc;
			margin:0;
			box-shadow: 0 1px 3px #ccc inset;
		}
	}


}